body {
    background-color: #abcdef;
    margin: 0;
}

.search-bar {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center; /* Центрируем элементы по вертикали */
    justify-content: space-between; /* Равномерное распределение по горизонтали */
}

/* Стили для полей ввода */
.search-bar input {
    width: 48%; /* Ширина поля ввода */
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px; /* Отступ между полями ввода */
}

/* Стили для кнопки меню */
.search-bar button {
    width: 20%; /* Ширина кнопки */
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

/* Добавляем отступ между полями ввода и кнопкой меню */
.search-bar input, .search-bar button {
    margin-bottom: 5px;
}
/* Стили для вашей кнопки-изображения */
.image-button {
    position: absolute;
    top: 90px;
    left: 1420px;
}

.image-button img {
    display: block;
    width: 60px;
    height: 60px;
}
.search-bar {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
}


.search-bar input {
    width: 70%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.search-bar button {
    width: 20%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.filter-menu,
.season-menu {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    width: 90%;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
}

.filter-menu button,
.season-menu button {
    display: block;
    margin-bottom: 5px;
    padding: 8px;
    border: none;
    width: 100%;
    border-radius: 5px;
    background-color: #53a055;
    color: white;
    cursor: pointer;
}
/* Стили для больших экранов */
.search-bar {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
}

/* Стили для маленьких экранов */
@media screen and (max-width: 600px) {
    .search-bar {
        width: 80%;
    }
}

.floor-buttons {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.floor-buttons button {
    margin-bottom: 10px;
}
.interactive {
    cursor: pointer;
  }
  #modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
  }
/* Стили для 2 этажа */
#floorButton1 {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px; /* Горизонтальный овал */
    padding: 10px 20px; /* Поправки в отступы */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавный переход для эффекта */
}

#floorButton1:active {
    background-color: #45a049; /* Цвет при нажатии */
}

/* Стили для 2 этажа */
#floorButton2 {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px; /* Горизонтальный овал */
    padding: 10px 20px; /* Поправки в отступы */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавный переход для эффекта */
}

#floorButton2:active {
    background-color: #45a049; /* Цвет при нажатии */
}
